
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: url("images/image.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.x{
  color: grey;
}
.y{
  text-align: center;
}
h1 {
  animation: color-change 60s infinite;
}
h6{
  animation: color-change 60s infinite;
}
.qq {
  animation: color-change 80s infinite;
}
@keyframes color-change {
  0% {
    color: blue;
  }
  
  5% {
    color: #e5ff00;
  }
  10% {
    color: #91ff00;
  }
  20% {
    color: #00ffcc;
  }
  30% {
    color: #fc7d92;
  }
  40% {
    color: cyan;
  }
  50% {
    color: #00ffff;
  }
  60% {
    color: rgb(255, 123, 0);
  }
  70% {
    color: #b92929;
  }
  80% {
    color: #72a898;
  }
  90% {
    color: #2980b9;
  }
  95% {
    color: pink;
  }
  100% {
    color: blue;
  }
}
.bg{
  background-image: url("images/img3.png");
  height: 150%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.9);
  /* background-color:#00ffef */
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #222829 inset !important;
    box-shadow: 0
}
#r td{
  font-size:small;
}
#r tr {
  line-height: 0px;
}
#c{

  font-size:1rem;
}
#d{

  font-size:1rem;
}
.MuiPaper-root {
  background-color: #ffff00;
}
